<div class="wrap">
    <!--Header Starts here-->
    <div id="header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-7">
                        <div class="top-left">
                            <h1 class="header-banner">Ecosters</h1>
                        </div>
                    </div>
                    <!--Categories-->
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="search-form">
                            <form>
                                <div class="wrap-toggle-search">
                                    <!--<div class="toggle-search-category">
                                        <a class="toggle-category"><span class="glyphicon glyphicon-arrow-down"></span></a>
                                        <ul class="select-category list-unstyled">
                                            <li><a href="#">Chair</a></li>
                                            <li><a href="#">Table</a></li>
                                            <li><a href="#">Furniter</a></li>
                                        </ul>
                                    </div>-->
                                    <input type="text" placeholder="Search for products..." />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-5">
                        <div class="top-right">
                            <ul class="list-inline">
                                <li><a href="#about-us-section" class="wishlist-link"><span class="lnr lnr-user"></span> About Us </a></li>
                                <li class="info-cart">
                                    <a href="#contact-us-section" class="mycart-link"><span class="lnr lnr-phone-handset"></span> Contact Us </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-xs-12">
                    </div>
                    <div class="col-md-8 col-sm-11 col-xs-12">
                        <div class="main-nav">
                            <ul class="main-menu">
                                <li class="current-menu-item">
                                    <a href="index.html" style="color: white">Garden</a>
                                </li>
                                <li class="current-menu-item">
                                    <a href="index.html" style="color: white">Solar & LED</a>
                                </li>
                                <li class="current-menu-item">
                                    <a href="index.html" style="color: white">Kithen & Dining</a>
                                </li>
                                <li class="current-menu-item">
                                    <a href="index.html" style="color: white">Clothing</a>
                                </li>
                            </ul>
                            <div class="mobile-menu">
                                <a href="javascript:void(0)" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
                                <a href="javascript:void(0)" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 col-xs-12">
                        <div class="info-header info-header2">
                            <ul class="info-total"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header Ends here-->

    <router-outlet></router-outlet>

    <!--Footer Starts-->
    <div id="footer">
        <div class="footer footer2">
            <div class="container">
                <div class="logo logo-footer2">
                    <a href="javascript:void(0)">Ecosters</a>
                </div>
                <div class="footer-bottom2">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="menu-footer">
                                <ul class="list-inline">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#featured-section">Products</a></li>
                                    <li><a href="javascript:void(0)">Terms of Service </a></li>
                                    <li><a href="javascript:void(0)">Privacy Guidelines</a></li>
                                    <li><a href="javascript:void(0)">Site Map</a></li>
                                    <li><a href="#about-us-section">About Us</a></li>
                                    <li><a href="javascript:void(0)">Blog</a></li>
                                    <li><a href="#contact-us-section">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <a href="https://www.instagram.com/ecosters/" target="_blank" class="fa fa-instagram pull-right" style="color:white; font-size: 20px; margin-left: 15px;"></a>
                            <a href="https://twitter.com/Ecosters_India" target="_blank" class="fa fa-twitter-square pull-right" style="color:white; font-size: 20px; margin-left: 15px;"></a>
                            <!--<a href="#" class="fa fa-linkedin-square pull-right" style="color:white; font-size: 20px; margin-left: 15px;"></a>-->
                            <a href="https://www.facebook.com/ecosters" target="_blank" class="fa fa-facebook-official pull-right" style="color:white; font-size: 20px; margin-left: 15px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

</div>